{% extends 'basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Cars-Predictor</h1>
      <p>This website is made by Ashwinder singh,This website helps to predict prices with the help of Machine Learning model
      Machine learning (ML) is the study of computer algorithms that improve automatically through experience and by the use of data.[1] It is seen as a part of artificial intelligence. Machine learning algorithms build a model based on sample data, known as "training data", in order to make predictions or decisions without being explicitly programmed to do so.[2] Machine learning algorithms are used in a wide variety of applications, such as in medicine, email filtering, speech recognition, and computer vision, where it is difficult or unfeasible to develop conventional algorithms to perform the needed tasks.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>sahibeer singh</h2>
          <h3>investor</h3>
        <p>He has been named on Esquire's List of the 75 Most Influential People of the 21st Century[2] and ranked 78 among the 100 most influential people in the world on the Time 100 (compiled by Time Magazine, 2009).[3] He was also listed amongst 25 Asia’s Most Powerful people by Fortune Magazine.[4]

Based in Mumbai, India, Ronnie pioneered Cable Television, built a Media and Entertainment conglomerate (UTV Software Communications) that partnered with News Corp, 20th Century Fox, The Walt Disney Company and Bloomberg and later in 2012, he divested the company to Disney for an enterprise value of US$1.4 billion.[5]

From 2013 onwards, he and his wife scaled their Non-Profit The Swades Foundation whose goal is to work with a million people in rural India, empower them and move them out of poverty every 6–7 years and then move to another geography.
      </div>
      <div class="col-md-4">
        <h2>japneet singh</h2>
          <h3>co-head</h3>
        <p> is an Indian singer, actor and television presenter who works in Punjabi and Hindi cinema.[2][3] He is recognised as one of the leading artists in the Indian music industry.[4] He also acts in Punjabi movies, with many of them being commercially successful, including Jatt & Juliet, Jatt & Juliet 2, Punjab 1984, Sardaar Ji, Ambarsariya, Sardaar Ji 2, Super Singh, Sajjan Singh Rangroot and Shadaa – which are among the most successful Punjabi movies in history.[5]
          
      </div>
      <div class="col-md-4">
        <h2>Ashwinder singh</h2>
          <h3>Chief Developer</h3>
        <p> is an Indian-American business executive,[5] the chief executive officer (CEO) of Alphabet Inc. and its subsidiary Google LLC.[6][7][8] ashwinder began his career as a electronics and computer engineer and joined Google as a management executive in 2004. He rose to become the company's Product Chief and the CEO in 2015, as part of the restructuring process that turned Alphabet Inc. into Google's parent company.[9][10] In December 2019, he additionally became CEO of Alphabet Inc.[11][12]

        
      </div>
    </div>

    <hr>

  </div> <!-- /container -->






<footer><p class="text-center text-dark" style="padding:10px">Copyright © 2021, Ashwinder Singh</p></footer>

</main>





{% endblock %}