<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ashwindertextanalyzer.com</title>
  </head>
  <body>




<!--Bootstrap se bnaya -->




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ashwindertextanalyzer.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">contact us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Follow us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.instagram.com/ashwinder_1/">Instagram</a>
          <a class="dropdown-item" href="https://www.youtube.com/channel/UCOwRW7DWzkhKQl1rpSCn9UA">youtube</a>
          <a class="dropdown-item" href="https://m.facebook.com/simar.kataria.10">Facebook</a>
        </div>
      </li>
    </ul>

  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>





<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong><h3"text-align:center;color:green;text-transform:capitalize;font-weight:bold;> Sucess </h3></strong><h4 "text-align:center;color:green;text-transform:capitalize;font-weight:bold;>your text has been succesfully analysed</h4>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>




<div class="container">
<form action="/analyze" method="get" > {% csrf_token %}


<h1  style="text-align:center;color:green;text-transform:capitalize;font-weight:bold;">your text is analyzed</h1>
<h2 style="text-align:center;color:aqua;text-transform:capitalize;font-weight:bold;">your analyzed text - {{purpose}}</h2>
<p>
    <h3><pre>{{analyzed_text}}</pre></h3>
</pre>

</form>

</div>