    <div class="row">
        <div class="card text-white bg-secondary mb-3" style="width: 100%; height: 100%">
            <div class="card-header" style="text-align: center">
                <h1>Welcome to Car Price Predictor</h1>
            </div>
            <div class="card-body" style="background-image: url('https://source.unsplash.com/o6un9Q_KwmQ/2300x600')">
                <div class="col-12" style="text-align: center">
                    <h4 class="text-center text-warning">This app predicts the price of a car you want to sell. Try filling the details below: </h4>
                </div>